mat-form-field {
  width: 100%;
  max-width: 225px;
}

.mat-card {
  padding-top: 4px;
  padding-bottom: 4px;
}

.columns {
  margin-bottom: 0;

  .column {
    padding:0px 8px;
  }
}

.mat-dialog-content {
  overflow: inherit;
}



.mff-w7 {
  width: 7rem;
}
.mff-w10 {
  width: 10rem;
}
.mff-w13 {
  width: 13rem;
}
.mff-w17 {
  width: 17rem;
}
.mff-w18 {
  width: 18rem;
}
.mff-w19 {
  width: 19rem;
}
.mff-w20 {
  width: 20rem;
}
