.badge-informacion .mat-badge-content {
  background: rgb(11, 145, 235);
  color: white;
  font-size: xx-small;
}

.badge-advertencia .mat-badge-content {
  background: orange;
  color: white;
}

.badge-alerta .mat-badge-content {
  background: #b71c1c;
  color: white;
}
