<form [formGroup]="editarForm" (ngSubmit)="onSaveForm()">
  <div class="columns is-marginless is-paddingless">
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Tipo Observación</mat-label>
        <mat-select formControlName="tipoObservacionId">
          <mat-option></mat-option>
          <mat-option
            *ngFor="let tipoOservacion of tiposObservaciones"
            [value]="tipoOservacion.id"
          >
            {{ tipoOservacion.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="columns is-marginless is-paddingless">
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Detalle</mat-label>
        <textarea matInput formControlName="detalle" rows="5"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-right">
      <button mat-raised-button color="primary" type="submit">
        Guardar
      </button>
    </div>
  </div>
</form>
