<div class="bandeja">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Etapas
      </h1>

      <div class="list-menu">
        <a
          class="list-menu-item"
          *ngFor="let list of lists"
          [routerLink]="['/etapas', list.id]"
          routerLinkActive="is-active"
        >
          <p>{{ list.nombre }}</p>
        </a>
      </div>

      <button
        class="button is-primary has-text-white"
        routerLink="/agregar-etapa"
      >
        + Nueva Etapa
      </button>
    </div>

    <div class="task-list-container has-background-light">
      <div *ngIf="tasks">
        <div class="top-bar">
          <h1 class="title has-text-primary">
            Estados
          </h1>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu4"
              >
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a
                  [routerLink]="['/editar-etapa', selectedListId]"
                  class="dropdown-item"
                >
                  Editar
                </a>
                <a
                  (click)="onDeleteListClick()"
                  class="dropdown-item has-text-danger"
                >
                  Eliminar
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Task Elements -->
        <div
          class="task"
          *ngFor="let task of tasks"
          [ngClass]="{ completed: task.completed }"
        >
          <div class="task-text">
            <p>{{ task.nombre }}</p>
          </div>
          <div class="task-buttons">

            <button
            class="button"
            [routerLink]="[
              '/etapas',
              selectedListId,
              'estados-certificables',
              task.id
            ]"
            >
            <span class="material-icons">
              thumbs_up_down
              </span>
            </button>

            <button
              class="button"
              [routerLink]="[
                '/etapas',
                selectedListId,
                'estados-transiciones',
                task.id
              ]"
            >
              <div class="icon">
                <i class="fas fa-project-diagram"></i>
              </div>
            </button>

            <button
              class="button"
              [routerLink]="[
                '/etapas',
                selectedListId,
                'editar-estado',
                task.id
              ]"
            >
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>

            <button
              class="button is-danger"
              (click)="onDeleteTaskClick(task.id)"
              style="margin-left: 10px;"
            >
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>
          </div>
        </div>

        <h3 class="empty-state-text" *ngIf="tasks.length === 0">
          No hay estados
        </h3>

        <button
          routerLink="./agregar-estado"
          class="circle-add-button button is-primary"
        >
          <img src="../../../assets/plus-icon.svg" class="has-text-white" />
        </button>
      </div>

      <div *ngIf="!tasks">
        <h3 class="empty-state-text">Seleccione alguna etapa</h3>
      </div>
    </div>
  </div>
</div>
