@import "../../../main-styles.scss";

.docs-component-viewer-nav {
  position: sticky;
  top: 25px;

  .docs-component-viewer-nav-content {
    margin: 25px 0px;
    max-height: 75vh;
    overflow: auto;

    .docs-component-viewer-nav-content-lista {
      .mat-list-item {
        color: $white;

        &:hover {
          background-color: $dark-grey;
        }
      }
    }
    .docs-component-viewer-nav-content-titulo {
      margin: 0px 25px;
      h1 {
        color: $white;
        font-weight: bold;
      }

      .docs-component-viewer-nav-content-titulo-sub {
        padding-left: 10px;
        color: $white;
        border-left: $green 2px solid;
      }
    }

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    button {
      padding: 10px 15px;
      font-weight: 700;
      line-height: 16px;
      margin: 0;
      font-size: 13px;
      cursor: pointer;
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }

      .mat-icon {
        position: absolute;
        right: 5px;
        font-size: 18px;
      }
    }

    hr {
      background-color: $dark-grey;
      padding: 0;
      margin: 15px 0px 0px 0px;
    }

    ul {
      list-style-type: none;
      margin: 0 0 5px 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      padding: 5px 15px 5px 20px;
    }

    a {
      display: block;
      text-decoration: none;
    }
  }
}
