<div class="centered-content">
  <div class="modal-box">
    <form [formGroup]="editarForm" (ngSubmit)="onSaveForm()">
      <h1 class="title">
        Editar etapa
      </h1>

      <div class="field">
        <div class="control">
          <input
            class="input has-background-light is-medium"
            formControlName="nombre"
            id="nombre"
            placeholder="Ingrese el nombre"
          />
        </div>
        <app-control-messages
          [control]="editarForm.get('nombre')"
        ></app-control-messages>
      </div>

      <br /><br />
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/">Cancel</button>
        <button
          class="button is-primary has-text-white is-medium"
          type="submit"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
