<div class="cabecera">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>N° Siniestro</mat-label>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Ejecutivo</mat-label>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Probabilidad</mat-label>
    </mat-form-field>
  </div>
</div>
